<h4>{{listTitle}}</h4>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th *ngIf="isPurchasedThVisible">Purchased</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shoppingItem of shoppingList">
            <td>
                <a href="{{shoppingItem.url}}">{{shoppingItem.title}}</a>
            </td>
            <td>{{shoppingItem.price}}</td>
            <td *ngIf="shoppingItem.purchased === false">
                <input type="checkbox"
                       (change)="onPurchased(shoppingItem)">
            </td>
            <td>
                <button (click)="onEdit(shoppingItem)">Edit</button>
            </td>
            <td>
                <button (click)="onDelete(shoppingItem)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

