

h1 {
    color: #f7dd60;
}

h3 {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.toshop-container, .shopped-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.one-list-right {
    margin-left: 1rem;
}

.one-list-left {
    margin-right: 1rem;
}

.save-button, .add-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 2rem;

    button {
        min-width: 15rem;
    }
}