<style></style>
<div class="content">
  <div class="header-container">
    <h1>{{ title }}</h1>
    <h3>{{ description }}</h3>
  </div>
  <Button *ngIf="isButtonHidden" (click)="onShowAddButton(false)"
    >Add Item</Button
  >
  <div class="input-container" *ngIf="!isButtonHidden">
    <app-input-form
      [shoppingItem]="emptyItem"
      [categories]="categories"
      (submitItem)="onSubmit($event)"
    ></app-input-form>
  </div>
  <div class="toshop-container">
    <div class="one-list">
      <app-need-list
        [shoppingList]="needList"
        (purchased)="onPurchasedChange($event)"
      ></app-need-list>
    </div>
    <div class="one-list">
      <app-want-list
        [shoppingList]="wantList"
        (purchased)="onPurchasedChange($event)"
      ></app-want-list>
    </div>
  </div>
  <div class="shopped-container">
    <div class="one-list">
      <app-purchased-list
        [shoppingList]="purchasedList"
      ></app-purchased-list>
    </div>
  </div>
</div>
