h1 {
    color: #f7dd60;
}

h3 {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 5rem;
}

.toshop-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shopped-container {
    margin-top: 5rem;
}

.one-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-button {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;

    button {
        min-width: 15rem;
    }
}