<style></style>
<div class="content">
  <div class="header-container">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>
  <div class="input-container">
    here goes the child element
  </div>
  <div class="toshop-container">
    <div class="one-list">
      <h4 (click)="onClick()">NEED</h4>
      <app-need-list [shoppingList]="needList" (purchased)="onPurchasedChange($event)"></app-need-list>
    </div>
    <div class="one-list">
      
    </div>
  </div>
  <div class="shopped-container">
    here goes the child element
  </div>
</div>

<router-outlet></router-outlet>
