html,
body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #e3e1ee,
    #c7c4de,
    #aba8ce,
    #8e8dbe,
    #9b85bd,
    #ab7bb7,
    #bc70ac,
    #ed799a,
    #ff907e,
    #ffb465,
    #f7dd60
  );
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

button {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 50px;
  color: #ffffff;
  padding: 0.25rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

h3 {
  color: #f7dd60;
  margin-top: 0;
  margin-bottom: 1rem;
}


