.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

a {
    margin-right: 1rem;
}

input {
    margin-left: 1rem;
}